@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
    font-family: "微软雅黑";
}
b,strong{
    font-weight: normal;
}
em,i{
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 16px;
}
a,u{
    text-decoration: none;
}
ul,ol,li{
list-style: none;
}
input{
    outline: none;
}
img{
    display: block;
    border: none;
}
fieldset{
    border: none;
}
textarea{
    resize: none;
}
/* 封装类名 */
.border_none{
    border:none!important;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
.text_ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 在浏览器窗口居中 */
.fixed_center{
    position: fixed;
    top:0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
}
/* 父元素居中 */
.dom_center{
    position: absolute;
    top:0;bottom: 0;
    left: 0;right: 0;
    margin: auto;
}
/* 万能清除法 */
.clear_fix:after{
content: "";
clear: both;
display: block;
height: 0;
overflow: hidden;
visibility:hidden;
}
.clear_fix{
    zoom: 1;
}